{{ define "main" }}
<main class="center mv4 content-width ph3">
  <h1 class="f2 fw6 heading-font">{{ .Title }}</h1>
  {{ .Content }}
  <div class="post-content">
    {{ range .Site.RegularPages.GroupByDate "2006" }}
      <h2 id="year-{{ .Key }}" class="f3 fw6 heading-font mv3">{{ .Key }}</h2>
      <div class="archive-grid">
        {{ range .Pages }}
          <div class="archive-item">
            <a href="{{ .Permalink | relURL }}" class="f5 db pa2 bg-light-gray hover-bg-moon-gray heading-color no-underline">
              <div class="archive-title">{{ .Title }}</div>
              <div class="archive-date">{{ .Date.Format "02 Jan" }}</div>
            </a>
          </div>
        {{ end }}
      </div>
    {{ end }}
  </div>
</main>

<!-- Archive TOC -->
<div class="tl fixed list-pages lh-copy" id="contents-list"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.css">
<style>.is-active-link::before { background-color: var(--secondary-color); }</style>
<script>
if (document.getElementById("contents-list") !== null && document.getElementsByClassName("post-content").length !== 0) {
  tocbot.init({
    tocSelector: '#contents-list',
    contentSelector: '.post-content',
    headingSelector: 'h2',
  });
}
</script>

<div class="pagination tc db fixed-l bottom-2-l right-2-l mb3 mb0-l">
{{ partial "back-to-top.html" . }}
</div>
{{ end }}
