{{ define "main" }}
<main class="center mv4 content-width ph3">
  <h1 class="f2 fw6 heading-font"><span class="secondary-color">#</span> {{ .Data.Term }}</h1>
  {{ .Content }}
  <div class="list-grid">
    {{ range .Data.Pages }}
      <div class="list-item">
        <a href="{{ .Permalink | relURL }}" class="link f5 db">
          <div class="list-title">{{ .Title }}</div>
          <div class="list-date">{{ .Date.Format "02 Jan 2006" }}</div>
        </a>
      </div>
    {{ end }}
  </div>
</main>
<div class="pagination tc db fixed-l bottom-2-l right-2-l mb3 mb0-l">
{{ partial "back-to-top.html" . }}
</div>
{{ end }}
