{{ $currentPage := . }}
{{ $currentTags := .Params.tags }}

{{ if $currentTags }}
<!-- Find related posts based on shared tags -->
{{ $related := slice }}
{{ range .Site.RegularPages }}
  {{ if and (ne . $currentPage) (.Params.tags) }}
    {{ $matches := 0 }}
    {{ range .Params.tags }}
      {{ if in $currentTags . }}
        {{ $matches = add $matches 1 }}
      {{ end }}
    {{ end }}
    {{ if gt $matches 0 }}
      {{ $related = $related | append (dict "Page" . "Matches" $matches) }}
    {{ end }}
  {{ end }}
{{ end }}

{{ if gt (len $related) 0 }}
<section class="related-topics mt5 mb4">
  <div class="bt b--black-10 pt4">
    <h3 class="f4 fw6 mb3">Related Posts</h3>

    <div class="related-posts-grid">
      {{ range first 6 (sort $related "Matches" "desc") }}
        <div class="related-post-card">
          <a href="{{ .Page.Permalink | relURL }}" class="link">
            <div class="related-post-title">{{ .Page.Title }}</div>
            <div class="related-post-date">{{ .Page.Date.Format "02 Jan 2006" }}</div>
            {{ if .Page.Params.tags }}
              <div class="related-post-tags">
                {{ range first 3 .Page.Params.tags }}
                  <span class="tag-badge">{{ . }}</span>
                {{ end }}
              </div>
            {{ end }}
          </a>
        </div>
      {{ end }}
    </div>

    <div class="tc mt4">
      <a href="/tags" class="f6 link dim br-pill ph3 pv2 mb2 dib white bg-main-color">Browse All Tags</a>
    </div>
  </div>
</section>
{{ end }}
{{ end }}